body{
	margin: 0;
	padding: 0;
	font-family: roboto;
	background-image: linear-gradient(45deg, green, yellow);
	background-size: cover;
	background-attachment: fixed;
}

.body{
	background-image: url('img.png');
	background-size: 100% 100%;
}

header{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 90px;
	width: 100%;
	font-size: 28px;
	background-image: linear-gradient(to right, #61FC49, #F2E946);
}

header figure{
	width: 75px;
	position: relative;
	top: -1em;
}

header nav span{
	margin-right: 20px;
	position: relative;
	top: -1em;
}

header nav img{
	display: none;
}

header a{
	text-decoration: none;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .cabecalho{
	color: #fff;
	text-shadow: 4px 4px 10px #4a4a4a;
}

main h1{
	margin-bottom: 0;
}

main form{
	font-weight: 700;
	width: 80%;
	padding: 20px;
	border-radius: 40px;
	box-shadow: 6px 6px 10px #4a4a4a;
	background-color:#C8FCA999;
	backdrop-filter: blur(13.5px);
	accent-color: #fbfc05;
}

main form div{
	margin-right: 7.5%;
}

main form fieldset{
	margin: 25px 0 25px 0;
	display: flex;
	flex-wrap: wrap;
}

main form fieldset:nth-of-type(1){
	margin-top: 5px;
}

main form legend{
	font-size: 26px;
}

main form label{
	margin-top: 15px;
	font-size: 20px;
}

main form input{
	margin:8px 0 8px 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid #0e7b13;
	border-left: 2px solid #0e7b13;
	border-radius: 5px;
}

main form select{
	margin:8px 0 8px 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid #0e7b13;
	border-left: 2px solid #0e7b13;
	border-radius: 5px;
}

main form textarea{
	margin:8px 0 8px 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid #0e7b13;
	border-left: 2px solid #0e7b13;
	border-radius: 5px;
}

main form input[type=text]{
	width: 250px;
	height: 30px;
	font-size: 15px;
}

main form input[type=email]{
	width: 250px;
	height: 30px;
	font-size: 15px;
}

main form input[type=date]{
	width: 175px;
	height: 30px;
	font-size: 15px;
}

main form select{
	width: 50px;
	height: 30px;
	font-size: 15px;
}

main form input[type=submit]{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
}

div.sete label{
	margin-right: 10px;
}

main form input:focus{
	background-color: #ddd;
}

main form textarea:focus{
	background-color: #ddd;
}

main form input[type=submit]:hover{
	background-color: #ddd;
}

footer{
	height: 90px;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #61FC49, #F2E946);
}

footer p{
	position: relative;
	top: -0.3em;
	display: inline;
}

footer .minilogo{
	position: relative;
	left: -55%;
	top: -0.4em;
	width: 50px;
	height: 25px;
	margin: 0 30px 0 50px;
}
@media screen and (max-width: 640px){
	header nav span{
	display: none;
	}

	header nav img{
	display: block;
	}
}
@media screen and (min-width: 1500px){
	main form div{
	margin-right: 15%;
}
}